<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/static/css/error-window.css">
</head>
<body>
    <section class="centered">
        <h1>500 Server Error</h1>
        <div class="container">
          <span class="message">Lo sentimos, ha ocurrido un error.</span> 
        </div>
        <div class="col-sm-12 d-flex justify-content-around">
            <br>
            <a href="/" class="retornar">Regresar</a>
        </div>
    </section>
</body>
</html>